
<%= button_to "Add New Task", new_task_path, method: :get %>
<%= button_to "Mark Task Complete", completed_tasks_path, method: :patch %>


<h1>Your Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.chore, task_path(task.id) %>
      <%= task.status %>
      <%= link_to "edit", edit_task_path(task.id) %>
    </li>
<% end %>
